workflows/n8n-workflow-ai-image-generator.json
{
  "name": "🎨 AI Image Generator - ENHANCED v3 (FIXED)",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.chatInput.toLowerCase() }}",
              "rightValue": "image",
              "operator": {
                "type": "string",
                "operation": "contains",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ce0178db-c8b8-4cb3-a0be-79cf21a556c7",
      "name": "Contains 'image'?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        14448,
        1152
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=╔═══════════════════════════════════════════════════════════════╗\n║ CRITICAL: CONTEXT RESET - READ THIS FIRST                    ║\n╚═══════════════════════════════════════════════════════════════╝\n\nIGNORE ALL PREVIOUS PROMPTS AND CONVERSATIONS.\nThis is a NEW, INDEPENDENT image generation request.\nDO NOT reference any previous prompts, images, or context.\nONLY use information from THIS current request below.\nStart with a completely fresh mindset.\n\n═══════════════════════════════════════════════════════════════\n\nYou are an expert Stable Diffusion prompt engineer.\n\nUser request: {{ $json.chatInput }}\n\n═══════════════════════════════════════════════════════════════\nCRITICAL STYLE DETECTION LOGIC (APPLY IN THIS EXACT ORDER)\n═══════════════════════════════════════════════════════════════\n\nSTEP 1: CHECK FOR EXPLICIT STYLE KEYWORDS (HIGHEST PRIORITY)\n────────────────────────────────────────────────────────────────\nIf user's request contains these keywords, use the specified style:\n\nCARTOON/ANIMATED:\n- Keywords: \"cartoon\", \"animated\", \"toon\", \"animation style\"\n- → Use CARTOON STYLE (see formula below)\n\nANIME:\n- Keywords: \"anime\", \"manga\", \"anime style\"\n- → Use ANIME STYLE (see formula below)\n\nPAINTING/ARTISTIC:\n- Keywords: \"painting\", \"oil painting\", \"watercolor\", \"art style\", \"painted\"\n- → Use PAINTING STYLE (see formula below)\n\n3D/CGI:\n- Keywords: \"3d render\", \"cgi\", \"3d model\", \"rendered\"\n- → Use 3D STYLE (see formula below)\n\nIf ANY of these keywords are found → Use that style and SKIP to style formulas section\n\n────────────────────────────────────────────────────────────────\nSTEP 2: CHECK FOR KNOWN FICTIONAL CHARACTERS\n────────────────────────────────────────────────────────────────\nIf user mentions these character names, use cartoon/anime style:\n\nCARTOON CHARACTERS:\n- Scooby-Doo, Mickey Mouse, Donald Duck, Bugs Bunny, SpongeBob,\n  Tom and Jerry, Simpsons characters, Family Guy characters,\n  Rick and Morty, etc.\n- → Use CARTOON STYLE\n\nANIME CHARACTERS:\n- Naruto, Goku, Pikachu, Luffy, Sailor Moon, etc.\n- → Use ANIME STYLE\n\nIf character name found → Use appropriate style and SKIP to style formulas\n\n────────────────────────────────────────────────────────────────\nSTEP 3: DEFAULT TO PHOTOREALISTIC (FOR EVERYTHING ELSE)\n────────────────────────────────────────────────────────────────\nIf NO style keywords (Step 1) AND NO fictional characters (Step 2):\n\nALWAYS USE PHOTOREALISTIC STYLE FOR:\n- Real animals: dog, cat, bird, horse, deer, kingfisher, eagle, etc.\n- Real people: man, woman, child, portrait, person, etc.\n- Real places: landscape, city, street, mountain, ocean, etc.\n- Real objects: apple, table, car, building, etc.\n\nDEFAULT RULE:\nIf it exists in real life → PHOTOREALISTIC\nIf user wants different style → They must specify explicitly\n\n────────────────────────────────────────────────────────────────\nEXAMPLES OF CORRECT DETECTION:\n────────────────────────────────────────────────────────────────\n\nINPUT: \"generate image of golden retriever\"\nDETECTION:\n- No style keywords → Continue\n- Not a cartoon character → Continue  \n- \"golden retriever\" = real dog breed → PHOTOREALISTIC\nSTYLE: Photorealistic ✅\n\nINPUT: \"generate cartoon image of golden retriever\"\nDETECTION:\n- \"cartoon\" keyword found → CARTOON\nSTYLE: Cartoon ✅\n\nINPUT: \"generate image of Scooby-Doo\"\nDETECTION:\n- No style keywords → Continue\n- \"Scooby-Doo\" = cartoon character → CARTOON\nSTYLE: Cartoon ✅\n\nINPUT: \"generate image of redbone coonhound\"\nDETECTION:\n- No style keywords → Continue\n- Not a cartoon character → Continue\n- \"redbone coonhound\" = real dog breed → PHOTOREALISTIC\nSTYLE: Photorealistic ✅\n\nINPUT: \"generate image of kingfisher diving\"\nDETECTION:\n- No style keywords → Continue\n- Not a cartoon character → Continue\n- \"kingfisher\" = real bird → PHOTOREALISTIC\nSTYLE: Photorealistic ✅\n\nINPUT: \"generate anime style cat\"\nDETECTION:\n- \"anime style\" keyword found → ANIME\nSTYLE: Anime ✅\n\n═══════════════════════════════════════════════════════════════\nSTYLE FORMULAS\n═══════════════════════════════════════════════════════════════\n\n────────────────────────────────────────────────────────────────\nPHOTOREALISTIC (DEFAULT FOR REAL SUBJECTS)\n────────────────────────────────────────────────────────────────\n\nPOSITIVE TEMPLATE:\nprofessional photography of [SUBJECT], [LIGHTING], [COMPOSITION], realistic, natural, detailed, sharp focus\n\nCOMPONENTS:\n- Photography type: \"professional photography\", \"wildlife photography\", \"portrait photography\", \"landscape photography\"\n- Lighting: \"natural lighting\", \"golden hour\", \"soft lighting\", \"dramatic lighting\"\n- Technical: \"shallow depth of field\", \"bokeh\", \"sharp focus\", \"detailed\"\n- Quality: \"professional\", \"detailed\", \"8k\" (use sparingly)\n\nNEGATIVE (Minimal):\nblurry, low quality, cartoon, anime, illustration, painting, distorted\n\nEXAMPLE:\n{\n  \"positive\": \"professional wildlife photography of golden retriever outdoors, natural lighting, realistic fur texture, detailed, shallow depth of field, sharp focus\",\n  \"negative\": \"blurry, low quality, cartoon, anime, illustration, distorted\"\n}\n\n────────────────────────────────────────────────────────────────\nCARTOON/ANIMATED\n────────────────────────────────────────────────────────────────\n\nPOSITIVE TEMPLATE:\ncartoon style illustration of [SUBJECT], vibrant colors, bold outlines, animated style, clean lines, [CHARACTER DETAILS]\n\nCOMPONENTS:\n- Style markers: \"cartoon style illustration\", \"animated style\", \"cel shaded\"\n- Visual qualities: \"vibrant colors\", \"bold outlines\", \"clean lines\"\n- Character details: specific colors, clothing, expressions\n\nNEGATIVE (Minimal):\nblurry, low quality, photorealistic, photograph, 3d render, messy, distorted\n\nEXAMPLE:\n{\n  \"positive\": \"cartoon style illustration of happy golden retriever, vibrant colors, bold outlines, animated style, friendly expression, clean lines, bright and cheerful\",\n  \"negative\": \"blurry, low quality, photorealistic, photograph, 3d render, distorted\"\n}\n\n────────────────────────────────────────────────────────────────\nANIME\n────────────────────────────────────────────────────────────────\n\nPOSITIVE TEMPLATE:\nanime style illustration of [SUBJECT], detailed anime art, cel shaded, clean linework, [ANIME CHARACTERISTICS]\n\nCOMPONENTS:\n- Style markers: \"anime style illustration\", \"anime aesthetic\"\n- Technical: \"cel shaded\", \"clean linework\", \"detailed shading\"\n- Characteristics: \"large expressive eyes\" (for characters), \"vibrant colors\"\n\nNEGATIVE (Minimal):\nblurry, low quality, photorealistic, photograph, western cartoon, distorted anatomy\n\nEXAMPLE:\n{\n  \"positive\": \"anime style illustration of cat, detailed anime art, cel shaded, clean linework, large expressive eyes, vibrant colors, cute aesthetic\",\n  \"negative\": \"blurry, low quality, photorealistic, photograph, distorted anatomy\"\n}\n\n────────────────────────────────────────────────────────────────\nPAINTING/ARTISTIC\n────────────────────────────────────────────────────────────────\n\nPOSITIVE TEMPLATE:\n[PAINTING TYPE] of [SUBJECT], visible brush strokes, painterly technique, artistic, [COLOR MOOD]\n\nCOMPONENTS:\n- Painting type: \"oil painting\", \"watercolor\", \"acrylic painting\"\n- Technique: \"visible brush strokes\", \"painterly technique\", \"textured canvas\"\n- Mood: \"rich colors\", \"expressive\", \"dramatic\"\n\nNEGATIVE (Minimal):\nblurry, low quality, photograph, digital art, cartoon, flat colors\n\nEXAMPLE:\n{\n  \"positive\": \"oil painting of landscape with mountains, visible brush strokes, painterly technique, rich colors, dramatic lighting, expressive\",\n  \"negative\": \"blurry, low quality, photograph, digital art, cartoon, flat colors\"\n}\n\n────────────────────────────────────────────────────────────────\n3D/CGI\n────────────────────────────────────────────────────────────────\n\nPOSITIVE TEMPLATE:\n3d render of [SUBJECT], detailed 3d model, [RENDER ENGINE], realistic materials, professional lighting\n\nCOMPONENTS:\n- Render markers: \"3d render\", \"octane render\", \"unreal engine\"\n- Technical: \"detailed 3d model\", \"realistic materials\", \"ray tracing\"\n- Quality: \"professional lighting\", \"sharp focus\"\n\nNEGATIVE (Minimal):\nblurry, low quality, flat, 2d, cartoon, low poly, amateur\n\nEXAMPLE:\n{\n  \"positive\": \"3d render of futuristic building, unreal engine, detailed 3d model, realistic materials, ray tracing, professional lighting, sharp focus\",\n  \"negative\": \"blurry, low quality, flat, 2d, cartoon, low poly\"\n}\n\n═══════════════════════════════════════════════════════════════\nQUALITY KEYWORDS (Use Based on User Request)\n═══════════════════════════════════════════════════════════════\n\nSTANDARD (default):\n- \"professional, detailed, sharp focus\"\n\nHIGH QUALITY (if user says \"high quality\", \"detailed\", \"best\"):\n- \"professional, highly detailed, sharp focus, 8k\"\n\nULTRA (if user says \"ultra\", \"extreme\", \"maximum quality\"):\n- \"masterpiece, professional, highly detailed, sharp focus, 8k, ultra realistic\"\n\nQUICK (if user says \"quick\", \"draft\", \"fast\"):\n- \"good quality, clean\"\n\n═══════════════════════════════════════════════════════════════\nCOMPOSITION & LIGHTING KEYWORDS\n═══════════════════════════════════════════════════════════════\n\nAdd these based on subject and context:\n\nPORTRAITS:\n- \"portrait composition, eye level, centered\"\n- \"shallow depth of field, bokeh background\"\n- \"detailed facial features\"\n\nLANDSCAPES:\n- \"wide angle, panoramic view\"\n- \"depth of field, atmospheric perspective\"\n\nACTION/MOTION:\n- \"high shutter speed, frozen motion\"\n- \"dynamic composition\"\n\nLIGHTING (detect from context):\n- Sunset/sunrise → \"golden hour lighting, warm tones\"\n- Night → \"dramatic night lighting, ambient glow\"\n- Indoor → \"natural window light, soft shadows\"\n- Studio → \"professional studio lighting, soft box\"\n\n═══════════════════════════════════════════════════════════════\nCRITICAL RULES\n═══════════════════════════════════════════════════════════════\n\n1. ALWAYS apply style detection in order: Explicit keywords → Fictional characters → Default to photorealistic\n\n2. NEVER use cartoon/anime style for real animals/people unless user explicitly requests it\n\n3. Be SPECIFIC about subject details (colors, features, expressions)\n\n4. Keep prompts CONCISE (70-100 tokens positive, 15-25 tokens negative)\n\n5. Quality keywords should match user's request level (don't add \"masterpiece, 8k\" to every prompt)\n\n6. Composition and lighting keywords should be RELEVANT to the subject\n\n7. Negative prompts should BLOCK THE WRONG STYLES (not create a massive blacklist)\n\n8. DO NOT ADD ANY BACKGROUND ELEMENTS unless specifically requested by the user\n\n9. DO NOT invent scenes, settings, or environments not mentioned in the request\n\n10. ONLY describe what the user explicitly asked for\n\n═══════════════════════════════════════════════════════════════\nOUTPUT FORMAT\n═══════════════════════════════════════════════════════════════\n\nReturn ONLY valid JSON, no other text:\n\n{\n  \"positive\": \"concise specific prompt with style, subject details, technical specs, appropriate quality keywords\",\n  \"negative\": \"minimal focused negative prompt blocking wrong styles and common issues\"\n}\n\nTarget token counts:\n- Positive: 60-90 tokens\n- Negative: 15-25 tokens\n- Total: ~100 tokens or less\n\n═══════════════════════════════════════════════════════════════\nEND OF INSTRUCTIONS\n═══════════════════════════════════════════════════════════════"
      },
      "id": "83b7dd4b-b2b3-4cca-8ce1-5bc5dce63ff1",
      "name": "AI Engineer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        14656,
        1024
      ]
    },
    {
      "parameters": {
        "model": "qwen2.5:latest",
        "options": {}
      },
      "id": "12c303cb-0eb2-4875-86e3-c4e796c999b7",
      "name": "Ollama",
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        14656,
        1216
      ],
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let p;\ntry {\n  p = JSON.parse($input.item.json.text.replace(/```json|```/g, '').trim());\n} catch(e) {\n  p = {positive: 'beautiful image, highly detailed', negative: 'blurry, low quality'};\n}\nreturn [{json: p}];"
      },
      "id": "682ecc8e-fb87-4f3e-9ec6-a7e5473b9bd0",
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14864,
        1024
      ]
    },
    {
      "parameters": {
        "jsCode": "// ULTIMATE PHOTOREALISTIC BUILD - v7\nconst positive = $input.item.json.positive || 'RAW photo, professional photography, highly detailed';\nconst negative = $input.item.json.negative || 'blurry, low quality, distorted, cartoon, anime, CGI';\nconst userRequest = $('Chat Trigger').item.json.chatInput.toLowerCase();\n\n// QUALITY PRESETS - Optimized for photorealism\nconst qualityPresets = {\n  'draft': { steps: 20, cfg: 6.5, sampler: 'dpm_2', scheduler: 'karras' },\n  'normal': { steps: 35, cfg: 6.5, sampler: 'dpm_2', scheduler: 'karras' },\n  'high': { steps: 50, cfg: 6.5, sampler: 'dpm_2', scheduler: 'karras' },\n  'ultra': { steps: 70, cfg: 7.0, sampler: 'dpm_2', scheduler: 'karras' },\n  'extreme': { steps: 100, cfg: 7.0, sampler: 'dpm_2', scheduler: 'karras' }\n};\n\nconst aspectRatios = {\n  'square': { width: 512, height: 512, desc: 'Square 512x512' },\n  'portrait': { width: 512, height: 768, desc: 'Portrait 512x768' },\n  'landscape': { width: 768, height: 512, desc: 'Landscape 768x512' },\n  'tall': { width: 512, height: 1024, desc: 'Tall Portrait 512x1024' },\n  'wide': { width: 1024, height: 512, desc: 'Wide Landscape 1024x512' },\n  '1024': { width: 1024, height: 1024, desc: '1024x1024' },\n  '768': { width: 768, height: 768, desc: '768x768' },\n  'hd': { width: 1280, height: 720, desc: 'HD 1280x720' },\n  'phone': { width: 480, height: 853, desc: 'Phone 480x853' },\n  '4k': { width: 2048, height: 2048, desc: '4K 2048x2048' }\n};\n\nconst models = {\n  'default': 'dreamshaper_8.safetensors',\n  'v15': 'v1-5-pruned-emaonly-fp16.safetensors',\n  'inpainting': '512-inpainting-ema.safetensors'\n};\n\nlet quality = qualityPresets['high'];\nlet dimensions = aspectRatios['square'];\nlet model = models['default'];\n\n// Auto-detect quality\nif (userRequest.includes('draft') || userRequest.includes('quick')) quality = qualityPresets['draft'];\nelse if (userRequest.includes('ultra') || userRequest.includes('best')) quality = qualityPresets['ultra'];\nelse if (userRequest.includes('extreme') || userRequest.includes('maximum')) quality = qualityPresets['extreme'];\nelse if (userRequest.includes('normal') || userRequest.includes('standard')) quality = qualityPresets['normal'];\nelse if (userRequest.includes('high') || userRequest.includes('detailed')) quality = qualityPresets['high'];\n\n// Auto-detect dimensions\nif (userRequest.includes('4k')) dimensions = aspectRatios['4k'];\nelse if (userRequest.includes('1024')) dimensions = aspectRatios['1024'];\nelse if (userRequest.includes('768')) dimensions = aspectRatios['768'];\nelse if (userRequest.includes('hd')) dimensions = aspectRatios['hd'];\nelse if (userRequest.includes('phone')) dimensions = aspectRatios['phone'];\nelse if (userRequest.includes('tall')) dimensions = aspectRatios['tall'];\nelse if (userRequest.includes('wide')) dimensions = aspectRatios['wide'];\nelse if (userRequest.includes('portrait')) dimensions = aspectRatios['portrait'];\nelse if (userRequest.includes('landscape')) dimensions = aspectRatios['landscape'];\nelse if (userRequest.includes('square')) dimensions = aspectRatios['square'];\n\n// Auto-detect model\nif (userRequest.includes('v15') || userRequest.includes('v1-5')) model = models['v15'];\nelse if (userRequest.includes('inpaint')) model = models['inpainting'];\n\n// ADVANCED PHOTOREALISM ENHANCEMENT\nlet enhancedPositive = positive;\nlet enhancedNegative = negative;\n\n// Detect style intent\nconst isCartoon = userRequest.includes('cartoon') || userRequest.includes('anime') || \n                  positive.includes('cartoon') || positive.includes('anime');\nconst isArtistic = userRequest.includes('painting') || userRequest.includes('watercolor') ||\n                   userRequest.includes('oil painting') || positive.includes('painting');\nconst is3D = userRequest.includes('3d render') || userRequest.includes('cgi');\n\n// DEFAULT: PROFESSIONAL PHOTOREALISM\nif (!isCartoon && !isArtistic && !is3D) {\n  if (!positive.includes('RAW photo') && !positive.includes('professional photography')) {\n    enhancedPositive = `RAW photo, ${positive}`;\n  }\n  \n  let additions = [];\n  if (!positive.includes('natural') && !positive.includes('realistic light')) {\n    additions.push('natural lighting');\n  }\n  if (!positive.includes('8k') && !positive.includes('high resolution')) {\n    additions.push('8k resolution');\n  }\n  if (!positive.includes('sharp focus')) {\n    additions.push('sharp focus');\n  }\n  \n  if (additions.length > 0) {\n    enhancedPositive = `${enhancedPositive}, ${additions.join(', ')}`;\n  }\n  \n  enhancedNegative = `${negative}, cartoon, anime, illustration, drawing, sketch, painting, cel shaded, CGI, 3D render, video game graphics, oversaturated, neon colors, artificial colors, unrealistic, stylized, plastic, toy-like`;\n  \n  quality.cfg = Math.min(quality.cfg, 6.5);\n  quality.sampler = 'dpm_2';\n  quality.scheduler = 'karras';\n}\n\nif (isCartoon) {\n  quality.cfg = 11.0;\n  quality.sampler = 'euler';\n  enhancedPositive = positive;\n  enhancedNegative = negative;\n}\n\nif (isArtistic) {\n  quality.cfg = 8.5;\n  quality.sampler = 'euler_ancestral';\n  enhancedPositive = positive;\n  enhancedNegative = negative;\n}\n\nif (is3D) {\n  quality.cfg = 8.0;\n  quality.sampler = 'dpm_2';\n  enhancedPositive = positive;\n  enhancedNegative = `${negative}, photorealistic, realistic, natural`;\n}\n\nconst seed = Math.floor(Math.random() * 999999);\n\nlet waitTime = 8;\nif (quality.steps <= 25) waitTime = 10;\nelse if (quality.steps <= 40) waitTime = 18;\nelse if (quality.steps <= 55) waitTime = 28;\nelse if (quality.steps <= 75) waitTime = 38;\nelse waitTime = 55;\n\nconst totalPixels = dimensions.width * dimensions.height;\nif (totalPixels >= 2097152) waitTime += 30;\nelse if (totalPixels >= 1048576) waitTime += 18;\nelse if (totalPixels >= 589824) waitTime += 10;\n\nconst workflow = {\n  prompt: {\n    \"3\": { inputs: { seed, steps: quality.steps, cfg: quality.cfg, sampler_name: quality.sampler, scheduler: quality.scheduler, denoise: 1.0, model: [\"4\",0], positive:[\"6\",0], negative:[\"7\",0], latent_image:[\"5\",0] }, class_type: \"KSampler\" },\n    \"4\": { inputs: { ckpt_name: model }, class_type: \"CheckpointLoaderSimple\" },\n    \"5\": { inputs: { width: dimensions.width, height: dimensions.height, batch_size: 1 }, class_type: \"EmptyLatentImage\" },\n    \"6\": { inputs: { text: enhancedPositive, clip: [\"4\",1] }, class_type: \"CLIPTextEncode\" },\n    \"7\": { inputs: { text: enhancedNegative, clip: [\"4\",1] }, class_type: \"CLIPTextEncode\" },\n    \"8\": { inputs: { samples: [\"3\",0], vae:[\"4\",2] }, class_type: \"VAEDecode\" },\n    \"9\": { inputs: { filename_prefix: \"ai_generated\", images:[\"8\",0] }, class_type: \"SaveImage\" }\n  },\n  client_id: \"n8n\",\n  metadata: { seed, dimensions: dimensions.desc, steps: quality.steps, cfg: quality.cfg, sampler: quality.sampler, scheduler: quality.scheduler, model, waitTime }\n};\n\nreturn [{json: workflow}];"
      },
      "id": "f7a25f7e-0081-4279-a1ff-c1cd09451b08",
      "name": "Build Enhanced",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15056,
        1024
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8188/prompt",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "8ef79718-136b-4b4b-b90c-ebaf4b4a54a9",
      "name": "POST",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        15264,
        1024
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "promptId",
              "type": "string",
              "value": "={{ $json.prompt_id }}"
            },
            {
              "id": "2",
              "name": "metadata",
              "type": "object",
              "value": "={{ $('Build Enhanced').item.json.metadata }}"
            },
            {
              "id": "3",
              "name": "waitTime",
              "type": "number",
              "value": "={{ $('Build Enhanced').item.json.metadata.waitTime }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6054c4d9-d1dd-4ebf-bb01-d8b752d958b0",
      "name": "Store",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        15456,
        1024
      ]
    },
    {
      "parameters": {
        "jsCode": "const waitTime = $input.item.json.waitTime || 25;\nawait new Promise(resolve => setTimeout(resolve, waitTime*1000));\nreturn [$input.item];"
      },
      "id": "777f603f-9427-41a6-8826-07585d4730f0",
      "name": "Dynamic Wait",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15664,
        1024
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8188/history/{{ $json.promptId }}",
        "options": {}
      },
      "id": "27275f7a-a9c7-4ebc-936f-fcf9e67c7a65",
      "name": "Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        15856,
        1024
      ]
    },
    {
      "parameters": {
        "jsCode": "const pid = $('Store').item.json.promptId;\nconst h = $input.item.json;\nif(h[pid] && h[pid].outputs && h[pid].outputs['9']){\n  const img = h[pid].outputs['9'].images[0];\n  return [{json:{filename:img.filename, subfolder:img.subfolder||'', type:img.type}}];\n}\nthrow new Error('Not ready');"
      },
      "id": "43136b9e-6288-42ed-acb5-64adf2fec4cd",
      "name": "Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16064,
        1024
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8188/view?filename={{ $json.filename }}&subfolder={{ $json.subfolder }}&type={{ $json.type }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "38e75d69-dfc3-4a1f-ab14-0d2b70500090",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16256,
        1024
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "text",
              "type": "string",
              "value": "=✨ **Image Generated!**\n\n**Filename:** {{ $('Extract').item.json.filename }}\n\n**Settings:**\n• Size: {{ $('Store').item.json.metadata.dimensions }}\n• Steps: {{ $('Store').item.json.metadata.steps }}\n• CFG: {{ $('Store').item.json.metadata.cfg }}\n• Sampler: {{ $('Store').item.json.metadata.sampler }} ({{ $('Store').item.json.metadata.scheduler }})\n• Model: {{ $('Store').item.json.metadata.model }}\n• Seed: {{ $('Store').item.json.metadata.seed }}\n\n**Location:**\nD:\\Docker\\ComfyUI_windows_portable\\ComfyUI\\output\\{{ $('Extract').item.json.filename }}\n\n**View in Browser:**\nhttp://127.0.0.1:8188/view?filename={{ $('Extract').item.json.filename }}&type=output\n\n**Quick Open:**\n```\nexplorer D:\\Docker\\ComfyUI_windows_portable\\ComfyUI\\output\n```\n\n🎨 Your AI-generated image is ready! Click the URL to view!"
            }
          ]
        },
        "options": {}
      },
      "id": "6641db27-86c2-4579-bc42-1339864bf409",
      "name": "Done",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16464,
        1024
      ],
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful AI assistant.\n\n{{ $json.conversationHistory && $json.conversationHistory.length > 0 ? \"Recent conversation:\\n\" + $json.conversationHistory.map((msg, i) => (msg.role === 'user' ? 'User' : 'Assistant') + ': ' + msg.content).join('\\n') + \"\\n\\n\" : \"\" }}Current question: {{ $json.chatInput }}\n\nPlease respond to the current question. If the user refers to something from the previous conversation (like \"change it\", \"modify that\", \"update the code\"), use the conversation history above to understand the context.\n\nWhen providing code, always use proper markdown code blocks with language tags (e.g., ```php for PHP)."
      },
      "id": "1b7f576d-a1ee-41f9-a3f7-c461daf5d995",
      "name": "Chat",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        14640,
        1328
      ]
    },
    {
      "parameters": {
        "model": "qwen2.5:latest",
        "options": {}
      },
      "id": "b7b7fa86-87d4-41e2-9e46-2e5d629a5d77",
      "name": "Ollama2",
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        14656,
        1456
      ],
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "text",
              "type": "string",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5bd4b057-a5ab-4144-982e-1bbb50b07ec2",
      "name": "Format",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        14864,
        1264
      ]
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        14224,
        1152
      ],
      "id": "d131b31e-16e2-4d82-9377-965fb74a8722",
      "name": "Chat Trigger",
      "webhookId": "db604b2c-9149-41f1-bcc1-b1a5f38a1f3b"
    },
    {
      "parameters": {
        "jsCode": "// COMBINED: Binary data + formatted message with image link\nconst binaryData = $input.item.binary.data;\nconst metadata = $('Store').item.json.metadata;\nconst filename = $('Extract').item.json.filename;\nconst imageUrl = `http://127.0.0.1:8188/view?filename=${filename}&type=output`;\n\nconst message = `✨ **Image Generated Successfully!**\n\n![Generated Image](${imageUrl})\n\n**Filename:** ${filename}\n\n**Settings:**\n- Dimensions: ${metadata.dimensions}\n- Steps: ${metadata.steps}\n- CFG: ${metadata.cfg}\n- Sampler: ${metadata.sampler}\n- Scheduler: ${metadata.scheduler}\n- Model: ${metadata.model}\n- Seed: ${metadata.seed}\n\n[🖼️ View Full Size](${imageUrl})\n\n🎨 Your AI-generated image is ready!`;\n\nreturn [{\n  json: {\n    output: message\n  },\n  binary: {\n    data: binaryData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16448,
        1232
      ],
      "id": "f3b1ba28-a1d3-45f5-a19d-80144a31f1a3",
      "name": "Code in JavaScript",
      "notesInFlow": false
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        15008,
        1312
      ],
      "id": "e5fc75cc-3806-436b-ad08-e1c043189f12",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Contains 'image'?": {
      "main": [
        [
          {
            "node": "AI Engineer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Engineer": {
      "main": [
        [
          {
            "node": "Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama": {
      "ai_languageModel": [
        [
          {
            "node": "AI Engineer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse": {
      "main": [
        [
          {
            "node": "Build Enhanced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Enhanced": {
      "main": [
        [
          {
            "node": "POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST": {
      "main": [
        [
          {
            "node": "Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check": {
      "main": [
        [
          {
            "node": "Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama2": {
      "ai_languageModel": [
        [
          {
            "node": "Chat",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Store": {
      "main": [
        [
          {
            "node": "Dynamic Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dynamic Wait": {
      "main": [
        [
          {
            "node": "Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Contains 'image'?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "53facacf-3301-4258-907d-56e7f8fea2e1",
  "meta": {
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "mxD49DtykKpKuf4O",
  "tags": []
}
